# compiled files
__pycache__/
*.py[cod]

# virtual environments
venv/
venv2/
venv3/
venv4/
prueba/
env-proyecto
segundo-dron/
# base properties
# baseProperties.py
# properties.py

# types of files with data
*.csv
*.txt
*.drone
*.world
